# FreeRTOS
CONFIG_FREERTOS_HZ=1000

# lwIP
CONFIG_LWIP_SO_RCVTIMEO=y
CONFIG_LWIP_IP4_FRAG=y
CONFIG_LWIP_DNS_SUPPORT_MDNS_QUERIES=y

# WiFi
CONFIG_ESP_WIFI_SOFTAP_SUPPORT=n

# Stack sizes
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192
CONFIG_FREERTOS_TIMER_TASK_STACK_DEPTH=4096
